.App {
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#drum-machine {
  width: 60vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  align-content: center;
}
.drum-pad {
  border: 1px solid black;
  border-radius: 5px;
}

.pad-icon {
  width: auto;
  max-height: 20vh;
}

audio {
  width: 0;
  height: 0;
}
