.App {
  text-align: center;
  background-color: azure;
  height: 100vh;
  width: 100vw;
}

header {
  background-color: sienna;
}

#drum-machine {
  display: flex;
  padding: 50px;
}

#cells {
  align-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  width: 50vw;
}
.drum-pad {
  border-top: 2px solid #eeefff;
  border-left: 2px solid #eee;
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
  border-radius: 5px;
  background-color: white;
}

.pad-icon {
  width: auto;
  max-height: 20vh;
}

audio {
  width: 0;
  height: 0;
}

#display {
  padding: 10px;
  margin: 10px;
  border: 1px solid grey;
  align-self: center;
  width: 10vw;
}