@import url('https://fonts.googleapis.com/css?family=Cuprum');

body {
  background-color: azure;
  font-family: Cuprum, Lucida Grande, sans-serif;
}

.App {
  text-align: center;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

header {
  background-color: sienna;
  color: white;
  border-bottom: 1px solid grey;
}

h1 {
  padding: 0;
  margin: 0;
}

.subtitle {
  font-size: .8em;
}

#drum-machine {
  justify-content: center;
  align-self: center;
  padding-bottom: 0;
}

.drum-pad {
  border-top: 2px solid #eeefff;
  border-left: 2px solid #eee;
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
  border-radius: 5px;
  background-color: white;
  align-items: end;
  justify-items: end;
  display: flex;
}

#cells {
  align-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.pad-icon {
  width: auto;
  max-height: 20vh;
  align-self: flex-end
}

audio {
  display: None;
}

#display {
  background-color: sienna;
  color: white;
  min-width: 300px;
  margin: 10px 0;
  border: 1px solid grey;
  border-radius: 5px;
  align-self: center;
  font-family: Lucida Grande, sans-serif;
}

@media only screen and (min-width: 769px) {
  h1 {
    font-size: 2.8em;
  }

  #drum-machine {
    padding: 50px 50px 0 50px;
  }

  .drum-pad {
    display: grid;
    grid-template-columns: 2fr 1fr;
    font-size: 2em;
    padding: 5px;
  }

  #display {
    font-size: 1.2em;
    padding: 10px;
  }

  footer {
    font-size: 1em;
  }
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 1.8em;
  }

  .drum-pad {
    grid-template-rows: 2fr 1fr;
    font-size: 0;
    justify-content: center;
  }
  .pad-icon {
    max-width: 20vw;
  }

  #drum-machine {
    padding: 15px 15px 0 15px;
  }

  #display {
    font-size: .8em;
    padding: 7px;
  }

  footer {
    font-size: .5em;
  }
}

@media only screen and (max-width: 500px) {
  h1 {
    font-size: 1.2em;
  }

  #display {
    font-size: 0.5em;
    padding: 3px;
  }

  .drum-pad {
    border-top: 1px solid #eeefff;
    border-left: 1px solid #eee;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
    justify-content: center;
  }
}